
body {
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

/*========================================
  フォント
========================================*/
.num {
    font-family: 'Montserrat', sans-serif;
}

.signup {
    color: #999999;
}

/*========================================
  ヘッダー
========================================*/
header {
    position: relative;
    width: 100%;
    height: 80px;
    background: #CCFFFF;
    margin-bottom:100px;
}

header h1 {
    float: left;
    position: absolute;
    left: 30px;
    float: left;
    margin: 0;
    padding-left: 15px;
    text-align: center;
    font-size: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 80px;
}

header h1 a {
    color: #808080;
    text-decoration: none;
}

/*========================================
  ナビゲーション
========================================*/
#top-nav {
    position: relative;
    float: right;
    width: 500px;
    height: 90px;
}

nav a {
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

#top-nav ul {
    position: absolute;
    top: 0;
    right: 0px;
    left: 10px;
    bottom: 0;
    margin: 0;
    width: 450px;
    height: 80px;
    list-style: none;
    line-height: 80px;
}

#top-nav ul li {
    float: right;
}

/*========================================
  レイアウト
========================================*/

.site-width {
    margin: 0 auto;
    width: 980px;
}
.site-width-eventDetail{
    margin: 0 auto;
    width: 980px;
}

#main {
    float: left;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}

.page-1colum #main {
    width: 100%;
}

.page-2colum #main {
    width: 760px;
}

.page-logined #main {
    border: 5px solid #f1f1f1;
    box-sizing: border-box;
}

section h1.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#contents {
  overflow: hidden;
  margin: 20px auto;
}

#mypage-contents {
    overflow: hidden;
    margin-left: 200px;
    background-color: #EEEEEE;
    width: 760px;
    height: 900px;
    float:left;
}

#signup-contents {
    overflow: hidden;
    margin: 20px auto;
    width: 100%;
    height: 1000px;
}

#login-contents {
    overflow: hidden;
    margin: 20px auto;
    width: 100%;
}

/* ページタイトル */

h1.page-title {
    font-size: 30px;
    margin: 50px;
    text-align: center;
    color:#444444;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-right:100px;
    
}
.title {
    padding: 10px;
    padding-left: 35px;
}
.under-line{
    text-decoration:none;
}
.Event-detail{
    font-size:15px;
    font-weight:normal;
    width:500px;
    position:absolute;
    top:120px;
    left:200px;
}
.Event-date{
    position:absolute;
    top:230px;
    left:500px;
}
/*========================================
  サイドバー
========================================*/
#sidebar {
  float: left;
  box-sizing: border-box;
  width: 200px;
  min-height:500px;
  background: #FFFFEE;
  margin-right:20px;

}
.btn-sidebar{
    list-style:none;
    background-color:aquamarine;
    margin-right:30px;
    font-size:11.8px;
    margin-top:30px;
}
.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.side-margin{
    margin-left:40px;
}
/*========================================
  フッター
========================================*/
footer {
    padding: 15px;
    width: 100%;
    background: #CCFFFF;
    color: #808080;
    text-align: center;
    font-size: 12px;
    float:left;
    margin-top:50px;
}

footer a {
    color: #808080;
}

/*========================================
  ページネーション
========================================*/
.pagination {
    position: relative;
    overflow: hidden;
}

.pagination-list {
    position: relative;
    left: 50%;
    float: left;
    padding-left: 0;
    list-style: none;
}

.pagination .list-event {
    position: relative;
    left: -50%;
    float: left;
    margin-right: 5px;
}

.pagination .list-event:last-child {
    margin-right: 0;
}

.pagination .list-event a {
    display: block;
    padding: 5px 10px;
    background: #eee;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.pagination .list-event.active a {
    background: #333;
    color: white;
}

.pagination .list-event a:hover {
    background: #333;
    color: white;
}

/*========================================
  検索エリア
========================================*/

.search-title {
    overflow: hidden;
    margin-bottom: 30px;
    padding: 5px 10px;
    height: 40px;
    width: 740px;
    background: #f6f5f4;
    line-height: 40px;
}

.search-left {
    float: left;
}

.search-right {
    float: right;
}

.search-title .total-num {
    padding-right: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

/*========================================
  リスト
========================================*/

.list > .title {
    padding-left: 50px;
    padding-bottom: 20px;
}
.panel-list{
    padding: 0.5em 1em;
    margin: 2em 0;
    margin-left:20px;
    color: ;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    height:250px;
    overflow:hidden;
    position:relative;
}

.panel-sub {
    float: left;
}

.panel-list > .panel {
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-right: 15px;
    min-height: 185px;
    width: 25%;
    color: #333;
    text-decoration: none;
    line-height: 1.2em;
}
.panel-list > h3{
    position:absolute;
    top:10px;
    right:30px;
    float:right;
    width:300px;
    padding:100px;
    text-decoration:none;
}
.Event-title{
    width:500px;
    padding-left:200px;
    padding-top:10px;
    text-decoration:none;
}
.panel-link{
    text-decoration:none;
}
h3 a{
    text-decoration:none;
}
a.panel:hover {
    text-decoration: underline;
}

.panel-list >  img {
    width: 160px;
    height: 155px;
    padding-bottom:30px;
    padding-top:15px;
}

.panel-list > .panel .panel-title {
    margin: 0;
}

.liv-mgr {
    margin-left: 30px;
}

.age-mgr {
    margin-left: 5px;
}


/*========================================
  ボタン
========================================*/

.btn-flat-border {
    width: 80px;
    height: 80px;
    padding: 20px 20px;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    font-weight: 800;
}

.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.btn-container {}

.btn-mid {
    border-radius: 100px;
}

/*========================================
  フォーム
========================================*/
label {
    display: block;
}

label.err input,label.err select {
    background: #f7dcd9;
}


input[type="text"],
input[type="password"],
input[type="number"], .form select,
textarea {
margin-bottom: 15px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 60px;
  background: #f6f5f5;
  display: block;
}
input[type="number"],
.form select {
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background: #f6f5f5;
    display: block;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: #f6f5f5;
}
input[type="number"] {
  width: 100px;
  text-align: left;
}
textarea {
    margin-bottom: 15px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    background: #f6f5f5;
    display: block;
    height:150px;
}

input[type="submit"] {
    font-size: 14px;
    margin: 15px 0;
    padding: 15px 30px;
    width: 100%;
    border: none;
    border-radius: 30px;
    background: #E4FF8D;
    overflow: hidden;
    color: #808080;
    font-weight: bold;
}

select:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

.form-container {
    margin: 0 auto;
    margin-left:20px;
}

.page-1colum .form-container {
    margin: 30px auto;
}

.form {
    margin: 0 auto;
    padding: 30px;
    width: 400px;
    border: 5px solid #f1f1f1;
}
.form .label-require{
    margin-left:5px;
    background:#FF0461;
    font-size:14px;
    padding:3px 5px;
    color:white;
    vertical-align:bottom;
    border-radius:10px;
}
.form .title {
    margin-bottom: 40px;
    text-align: center;
}

.page-logined .form {
    border: none;
}


.form > .area-msg {
    padding: 0 0 15px 0;
    color: red;
}

.form .btn-container {
    overflow: hidden;
}

.form .btn {
    float: right;
}
.form .imgDrop-container{
    width:33.333%;
    float:left;
    padding-right:15px;
    box-sizing:border-box;
}
.form .area-drop {
    width: 100%;
    height: 140px;
    background: #f6f5f4;
    margin-bottom: 15px;
    text-align: center;
    line-height: 150px;
    color: #ccc;
    position:relative;
}
.form .input-file{
    opacity:0;
    width:100%;
    height:140px;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
.form .prev-img{
  width:100%;
  height:145px;
  position:absolute;
  top:0;
  left:0;
}
.form .prev-img-edit{
  width:100%;
  height:300px;
  position:absolute;
  top:0;
  left:0;
}
.form .counter-text {
    text-align: right;
}
.form-group{
    position:relative;
    overflow:hidden;
}
.form-group > .option{
    position:absolute;
    top:40px;
    left:60px;
    float:left;
    display:block;
    padding-left:100px;
}
.test{
    font-size:13px;
}
input[type="text"].mail_input{
    margin-bottom:0;
}
input[type="password"].pass_input{
    margin-bottom:0;
}
/*===============================
プロフィール画像
================================*/
h3.title {
    padding-left: 150px;
    padding-bottom: 20px;
}

.prof-list {
    width: 450px;
    overflow: hidden;
    background-color: white;
    margin-left: 30px;
    float: left;
}

.prof-img {
    padding-left: 65px;
}

.prof-img-sub1 {
    float: left;
    padding-left: 90px;
}

.prof-img-sub {
    padding-left: 20px;
    float: left;
}

.prof-img img {
    width: 325px;
    height: 325px;
}

.prof-img-sub1 img,.prof-img-sub img {
    width: 100px;
    height: 100px;
}

/*===============================
 プロフィールセンテンス
=================================*/
.prof-sentence {
    box-sizing: border-box;
    width: 700px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
    float: right;
}

.prof-sentence p {
    padding-left: 20px;
}

/*===============================
プロフィール詳細
================================*/
.prof-detail {
    background-color: white;
    box-sizing: border-box;
    width: 250px;
    height: 380px;
    float: right;
    position: absolute;
    left: 490px;
}

.pr-style {
    margin-left: 50px;
    text-decoration: underline;
    color: #FFC7AF;
}

.space {
    margin-top: 10px;
}

h4.title {
    padding-left: 30px;
}

/*=================================
イベント詳細
==================================*/
.badge{
    padding:5px 10px;
    color:white;
    background:#FFCC66;
    margin-right: 10px;
    font-size:16px;
    vertical-align:middle;
    position:relative;
    top: -4px;
}
.event-img-container{
    overflow:hidden;
}
.event-img-container img{
    width:100%;
}
.img-main img{
    width:550px;
    height:400px;
}
.event-img-container .img-main{
    float:left;
    padding-right:15px;
    box-sizing:border-box;
}
.event-img-container .img-sub{
    width:160px;
    float:left;
    background:#f6f5f4;
    padding:15px;
    box-sizing:border-box;
}
.event-img-container .img-sub:hover{
    cursor:pointer;
}
.event-img-container .img-sub img{
    margin-bottom:15px;
}
.event-img-container .img-sub img:last-child{
    margin-bottom:0;
}
.event-detail{
    width:750px;
    background: #f6f5f4;
    padding:15px;
    margin-top:15px;
    min-height:110px;
}
.event-left{
    float:left;
    margin-top:15px;
}